.app-pausepro-cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-sub-principal-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.cadastro-container {
    background: #FFFFFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px #D9D9D9;
    margin-left: 40px;
    max-width: 100%; 
    width: 400px;
    box-sizing: border-box;
}

.cadastro-container h1 {
    color: #2567D9;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.cadastro-container label {
    display: block;
    margin-bottom: 5px;
}

.cadastro-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-sizing: border-box;
}

.cadastro-container button {
    width: 100%;
    padding: 10px;
    background-color: #2567D9;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.cadastro-container button:hover {
    background-color: #252ED9;
}

#logo-pp {
    border-radius: 6px;
    margin-bottom: 10px;
}

.login-logo {
    text-align: center;
}

.titles-label {
    font-size: 20px;
}

.titles-input {
    font-size: 16px;
}

#tradutorCadastro {
    position: absolute;
    top: 16px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

#tradutorCadastro:hover {
    transform: scale(1.1);
}


/* Responsividade: Ajustes para telas menores */

/* Para telas de tablet (largura menor que 768px) */
@media (max-width: 768px) {
    .cadastro-sub-principal-container {
        flex-direction: column;
        align-items: center;
    }

    .cadastro-container {
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
        max-width: 95%;
        width: auto;
    }

    .cadastro-container h1 {
        font-size: 20px;
    }

    .cadastro-container input,
    .cadastro-container button {
        font-size: 14px;
    }

    #logo-pp {
        max-width: 150px;
    }
}

/* Para telas de celular (largura menor que 480px) */
@media (max-width: 460px) {
    .cadastro-container {
        padding: 18px;
        max-width: 300px;
        box-sizing: border-box;
    }

    .cadastro-container h1 {
        font-size: 18px;
    }

    .cadastro-container input,
    .cadastro-container button {
        font-size: 14px;
    }

    #logo-pp {
        max-width: 250px;
    }

    #tradutorCadastro {
        position: fixed;   
        top: 20px; 
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
    }

}

/* Para telas grandes (acima de 1024px) */
@media (min-width: 1024px) {
    .cadastro-container {
        max-width: 450px;
    }
}
