.app-pausepro-historico-container {
    background-color: #EAEAFE;
    font-family: 'Montserrat', sans-serif;
}

.historico-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 60px); 
    padding: 20px; 
}

.container-historico {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 180vh;
    height: 60vh;
    box-shadow: 0 4px 20px #D9D9D9;
    background-color: #FFFFFF;
    padding: 0px 100px 0px 100px;
}

.secao-historico h2 {
    margin: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo-historico {
    font-size: 54px;
    font-weight: bold;
}

/* TRADUTOR */

#estiloTradutorDashboardHistorico {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #152932;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

#tradutordashboardHistorico {
    width: 28px; 
    height: 28px;
    color: #FFFFFF;
}