.app-pausepro-home-container {
    background-color: #EAEAFE;
    font-family: 'Montserrat', sans-serif;
}

.home-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 60px); 
    padding: 20px; 
}

.container-home {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 180vh;
    height: 60vh;
    box-shadow: 0 4px 20px #D9D9D9;
    background-color: #FFFFFF;
    padding: 0px 100px 0px 100px;
}

.secao-home h2 {
    margin: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo-home {
    font-size: 54px;
    font-weight: bold;
}

/* PONTO ATUAL */
/* BOTÕES */
.botaoPonto {
    padding: 10px 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botaoDesativado {
    background-color: #D9D9D9;
    color: #FFFFFF;
    cursor: not-allowed;
}

.botaoPonto:disabled {
    background-color: #D9D9D9;
    color: #FFFFFF;
    cursor: not-allowed;
}

.pausar {
    background-color: #CC4E00;
}

.pausar:hover {
    background-color: #B34000;
}

.retomar {
    background-color: #2567D9;
}

.retomar:hover {
    background-color: #252ED9;
}

.finalizar {
    background-color: #DA2B2B; 
}

.finalizar:hover {
    background-color:#B60202;
}

.hora-extra {
    background-color: #5625D9;
}

.hora-extra:hover {
    background-color: #4b1db4;
}

#extraBotao {
    display: none;
}

/* MODAIS */
.closePausar {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .5;
    height: 30px;
    width: 30px;
}

.closeFinalizar {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .5;
    height: 30px;
    width: 30px;
}

.closeExtra {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .5;
    height: 30px;
    width: 30px;
}

/* TRADUTOR */

#estiloTradutorDashboardHome {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #152932;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

#tradutordashboardHome {
    width: 28px; 
    height: 28px;
    color: #FFFFFF;
}

/* Ajustes responsivos para telas menores */
@media (max-width: 768px) {
    .container-home {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        padding: 0 16px;
        box-sizing: border-box;
    }

    .titulo-home {
        font-size: 36px;
    }

    .secao-home h2 {
        font-size: 20px;
    }

    .botaoPonto {
        padding: 8px 16px;
        font-size: 14px;
    }

    /* Rodapé menor */
    footer {
        height: 105px;
        font-size: 12px;
        padding: 5px;
        background-color: #FFFFFF;
        text-align: center;
    }
    
    .acoes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    .botaoPonto {
        color: #fff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s;
    }

    .botaoPonto:disabled {
        background-color: #ccc; 
        cursor: not-allowed;
    }

    .botaoPonto:hover:enabled {
        background-color: #0056b3; 
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .cabecalho {
        flex-wrap: wrap;
        
    }

    .cabecalho-esquerda .logo,
    .user-info {
        display: none;
    }

    .cabecalho-centro {
        flex-grow: 1;
        order: 1;
    }

    .avatar-container {
        order: 2;
        margin-left: auto;
    }

    .navbar-toggler {
        order: 0;
        margin-right: auto;
        background-color:#D9D9D9;
        
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
        
    }
}