.app-pausepro-home-container {
    background-color: #EAEAFE;
}

/* CARROSSEL HOME */

.home-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 60px); 
    padding: 0; 
}

.carrossel-home {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 196vh;
    height: 60vh;
    box-shadow: 0 4px 20px #D9D9D9;
}

.carrossel-interno-home {
    background-color: #FFFFFF;
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
}

.item-carrossel-home {
    min-width: 196vh;
    height: 60vh;
    position: relative;
}

.carrossel-home-anterior, .carrossel-home-proximo {
    background: #152932;
    color:#FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
}

.carrossel-home-anterior {
    left: 10px;
}

.carrossel-home-proximo {
    right: 10px;
}

