.app-pausepro-home-container {
    background-color: #EAEAFE;
    font-family: 'Montserrat', sans-serif;
}

.home-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 60px); 
    padding: 20px; 
}

.container-home {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 180vh;
    height: 60vh;
    box-shadow: 0 4px 20px #D9D9D9;
    background-color: #FFFFFF;
    padding: 0px 100px 0px 100px;
}

.secao-home h2 {
    margin: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titulo-home {
    font-size: 54px;
    font-weight: bold;
}


/* PONTO ATUAL */
/* BOTÕES */
.botaoPonto {
    padding: 10px 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botaoDesativado {
    background-color: #D9D9D9;
    color: #FFFFFF;
    cursor: not-allowed;
}

.botaoPonto:disabled {
    background-color: #D9D9D9;
    color: #FFFFFF;
    cursor: not-allowed;
}

.pausar {
    background-color: #CC4E00;
}

.pausar:hover {
    background-color: #B34000;
}

.retomar {
    background-color: #2567D9;
}

.retomar:hover {
    background-color: #252ED9;
}

.finalizar {
    background-color: #DA2B2B; 
}

.finalizar:hover {
    background-color:#B60202;
}

.hora-extra {
    background-color: #5625D9;
}

.hora-extra:hover {
    background-color: #4b1db4;
}

#extraBotao {
    display: none;
}

/* MODAIS */
.closePausar {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .5;
    height: 30px;
    width: 30px;
}


/* ALERTAS
.alerta {
    text-align: center; 
    color: #FFFFFF; 
    font-size: 24px; 
    font-weight: 500;
    width: 400px; 
    height: 45px;
    padding: 10px;
    left: 600px;
    position: relative; 
    border-radius: 5px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}

.ponto {
    top: 94px; 
    background: #008A29; 
}

.pausa {
    top: 149px; 
    background: #CC4E00; 
}

.retoma { 
    top: 204px; 
    background: #2567D9; 
}

 .finaliza {
    top: 259px;
    background: #B60202;
 }

 .extra {
    top: 314px;
    background: #5625D9;
 } */
