.app-pausepro-logado-container {
    background-color: #152932;
    height: 100vh; 
    overflow: hidden;
}

.logado-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    align-self: center;
    height: 100vh;
    padding: 0;
}

.logado-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.imagemLogado {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 300px;
}

.imagemLogado img {
    width: 90%;   
    max-width: 350px;
    height: auto;
    display: block;
    margin: 0;  
}

.relogioLogado {
    font-size: 54px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 5px;  
}

.botaoIniciar {
    font-weight: bold;
    padding: 15px;
    background-color: #008929;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;      
}

.botaoModal {
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.cancelar {
    background-color: #DA2B2B; 
}

.cancelar:hover {
    background-color:#B60202;
}

.confirmar {
    background-color: #008929;
}

.confirmar:hover {
    background-color: #006F1E;
}

.closeIniciar {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #FFFFFF;
    opacity: .5;
    height: 30px;
    width: 30px;
}

