.app-pausepro-relatorios-container {
    background-color: #EAEAFE;
    font-family: 'Montserrat', sans-serif;
}

.relatorios-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 60px); 
    padding: 20px; 
}

.container-relatorios {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 180vh;
    height: 60vh;
    box-shadow: 0 4px 20px #D9D9D9;
    background-color: #FFFFFF;
    padding: 0px 100px 0px 100px;
}

.secao-relatorio h2 {
    margin: 15px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.secao-relatorio h2 span {
    font-size: 14px;
    color: #000000;
    transition: transform 0.3s ease;
}

.tabela-horas-trabalhadas {
    margin-bottom: 20px;
    justify-items: center;
    display: none;
} 

.tabela-pausas {
    margin-bottom: 20px;
    justify-items: center;
    display: none;
} 

.tabela-faltas {
    margin-bottom: 20px;
    justify-items: center;
    display: none;
} 

.grafico-relatorios {
    display: none;
}

.titulo-relatorios {
    font-size: 54px;
    font-weight: bold;
}
