.app-pausepro-verificacao-container {
    background-color: #152932;
    height: 100vh; 
    overflow: hidden;
}

.verificacao-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    align-self: center;
    height: 100vh;
    padding: 0;
}

.container-verificacao {
    display: grid;
    max-width: 1400px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
}


#reconhecimento-facial {
    margin: 20px;
}

#reconhecimento-biometrico {
    margin: 20px;
}

.titulo-facial-biometria {
    margin-top: 20px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.titulo-facial {
    color: #FFFFFF;
}

.titulo-biometria {
    color: #FFFFFF;
}

.comentarioFacial {
    color: #FFFFFF;
}

.comentarioBiometria {
    color: #FFFFFF;
}

.botaoVerificar {
    display: block;
    font-weight: bold;
    padding: 15px;
    background-color: #008929;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

.botaoVerificar:hover {
    background-color: #006F1E;
}

/* Responsividade para telas médias (tablets e dispositivos menores) */
@media (max-width: 1024px) {
    .container-verificacao {
        grid-template-columns: 1fr; /* Altera para uma única coluna */
        gap: 15px;
    }

    .titulo-facial-biometria {
        font-size: 36px; /* Reduz o tamanho da fonte */
    }

    .botaoVerificar {
        padding: 12px; /* Ajusta o botão para caber melhor */
        font-size: 16px;
    }
}

/* Responsividade para telas pequenas (smartphones) */
@media (max-width: 600px) {
    .verificacao-conteudo {
        padding: 0 10px; /* Ajusta espaçamento lateral */
    }

    .titulo-facial-biometria {
        font-size: 24px; /* Fonte menor */
        margin-top: 10px;
    }

    #reconhecimento-facial,
    #reconhecimento-biometrico {
        margin: 10px;
    }

    .botaoVerificar {
        font-size: 14px; /* Botão menor */
        padding: 10px;
        margin: 10px;
    }
}